<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hunau.coursehelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <!-- 允许使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 检测网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hunau.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.slidingmenu.main.MainSlidingActivity" >
        </activity>
        <activity android:name="com.hunau.activity.EditCourse" >
        </activity>
        <activity android:name="com.hunau.activity.ShowGrade" >
        </activity>
        <activity android:name="com.hunau.activity.ShowRank" >
        </activity>
        <activity android:name="com.hunau.activity.MyCourseAddActivity" >
        </activity>
    </application>
</manifest>